//META{"name":"Smaller Reactions","description":"Reduces the size of the new reactions added on 04/11/2016","author":"<a href='https://github.com/HoLLy-HaCKeR' target='_new'>HoLLy</a>","version":"1.0"}*//{}

.reaction {
    margin: 0px;
    border-radius: 0px;
    padding: 0px 5px 0 0;
    height: 16px !important;
}
.reaction .reaction-count {
    margin-left: 2px;
    font-size: 16px;
    line-height: 16px !important;
    height: 16px !important;
}

.reaction .emoji {
    margin: 0px 0px !important;
    vertical-align: 0;
}
