//META{"name":"Transparency","description":"Discord transparency<br>Proof of concept, requires <a href='https://github.com/HoLLy-HaCKeR/BetterDiscord-Themes-and-Plugins/tree/master/Plugins'>transparency patch</a>.","author":"<a href='https://github.com/HoLLy-HaCKeR' target='_new'>HoLLy#2750</a>","version":"1.0"}*//{}


/*standard 50% transparency on everything, change to your liking.*/
body {
    background-color: rgba(0,0,0, 0.5);
}

/*guild wrapper*/
.guilds-wrapper {
    background-color: rgba(0,0,0,0.5)!important;
}

/*channels wrapper*/
.channels-wrap {
    background-color: rgba(0,0,0,0.5)!important;
}

/*inside channels wrapper*/
.guild-header header, 
.guild-channels, 
.account,
.private-channels, 
.search-bar, 
#voice-connection {
    background-color: transparent;
}
.guild-header header:hover, 
.guild-header.popout-open header {
    background: rgba(0,0,0,0.15);
}
.guild-channels .channel-text.selected, 
.guild-channels .channel-text:hover, 
.private-channels .channel.selected, 
.private-channels .channel:hover {
    background: rgba(0,0,0,0.15)!important;
}

/*chat and shit*/
.chat .title-wrap {
    background: rgba(0,0,0,0.5)!important;
}

.messages-wrapper, 
.chat form .typing, 
.chat>.content, 
.chat, 
#friends .friends-header, 
.friends-table {
    background: transparent!important;
}
.chat .content .flex-spacer, 
.channel-members, 
#friends {
    background: rgba(0,0,0,0.6)!important;
}

.channel-members .member.popout-open, 
.channel-members .member:hover, 
#friends .friends-table .friends-row:hover {
    background: rgba(0,0,0,0.15)!important;
}

/*scrollbars*/
.friends-table .scroller-wrap ::-webkit-scrollbar-thumb, 
.messages-wrapper .scroller-wrap ::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.4)!important;
    border: none!important;
}
.friends-table .scroller-wrap ::-webkit-scrollbar-track-piece, 
.messages-wrapper .scroller-wrap ::-webkit-scrollbar-track-piece {
    background: transparent!important;
    border: none!important;
}

.scroller-wrap .scroller::-webkit-scrollbar-thumb, 
.scroller-wrap .scroller::-webkit-scrollbar-track-piece {
    border: none!important;
}

/*buttons*/
.account .btn, 
.account .btn:active, 
#voice-connection .btn, 
#voice-connection .btn:active {
    background: rgba(100,100,100,0.2);
}

/*randoms*/
#bd-customcss-detach-container {
    background: rgba(0,0,0,0.5)!important;
}
.guilds-wrapper .guilds-add {
    background: rgba(0,0,0,0.6);
}
.messages-wrapper .messages .divider span {
    background: transparent!important;
}
.search .search-bar {
    background: rgba(255, 255, 255, 0.15)!important;
}
